.physician-info-container {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #5C3484 24.48%, #CEC2FF 100%);
    min-height: 100vh;
}

.physician-info-header {
    margin-bottom: 20px;
}

.physicianInfo1 {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.physicianInfo1 ul {
    margin-left: 20px;
}

.physicianInfo2 {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.physicianInfo2 ul {
    margin-left: 20px;
}


h1 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 0.5em;
}

nav {
    margin-bottom: 2em;
}

nav .link {
    margin-right: 10px;
    text-decoration: none;
    color: #5c5c5c;
    font-weight: bold;
}

nav .link.active {
    color: #000;
}

section {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h5 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    color: #333;
}